.col{
    flex-basis: 0 !important; 
    flex-grow: 1 !important;
}
.skills  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
    font-family: "Quicksand",sans-serif !important;
    letter-spacing: .5px;
}
.skills img {
    max-height: 60px !important;
    max-width: 60px !important;
    min-height: 60px !important;
    min-width: 60px !important;
    object-fit: contain;
    margin-bottom: 1rem;
    transition: all .3s ease-in-out;
}
.skills:hover{
  color: blueviolet !important;
  scale: 1.01 !important;
  transform: 0.5s;
}
.car{
    min-width: fit-content;
}